body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(214, 224, 233);
}

.App {
  font-family: "arial";
  background-color: rgb(229, 225, 219);

  margin-right: 30%;
  margin-left: 30%;

  border-style: solid;
  border-radius: 1%;
  border-width: 1px;
  border-color: rgb(91, 91, 91);
}

.header {
  color: black;
  text-align: center;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-left: 15px;
  margin-right: 15px;
}

.task-form {
  font-size: larger;
  text-align: center;
  margin-top: 10px;
  border-bottom: 1px solid rgb(91, 91, 91);
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15x;
}

.todo-input {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  padding: 7px 7px;
  margin-bottom: 3px;
  font-size: medium;
  font-weight: normal;
}

.todo-button {
  margin-bottom: 10px;
}
.todo-button:hover {
  background-color: lightgreen;
  font-weight: bolder;
}

.tasks {
  color: black;
}

.task-name {
  margin-left: 10px;
  padding-top: 10px;
  margin-bottom: 5px;
  font-size: larger;
  font-weight: normal;  
}

.task-notes {
  margin-left: 10px;
  border: 1px solid rgb(91, 91, 91);

  border-radius: 4px;
  font-size: 16px;
  resize: none;
}

.edit-task {
  text-align: left;
  margin-left: 10px;
  margin-bottom: 10px;
}

.remove-task {
  margin-left: 45%;
  margin-bottom: 10px;
}

.remove-task:hover {
  margin-left: 45%;
  margin-bottom: 10px;
  background-color: rgb(252, 102, 102);
  font-weight: bolder;
}

.todo-row {
  border-bottom: 1px solid rgb(91, 91, 91);
  margin-left: 15px;
  margin-right: 15px;
}

.todo-row-complete {
  text-decoration: line-through;
  border-bottom: 1px solid rgb(91, 91, 91);
  margin-left: 15px;
  margin-right: 15px;
}

.task-name:hover {
  user-select: none;
  cursor: pointer;
}

button {
  background-color: rgb(214, 224, 233);
  color: black;
  padding: 1px 4px;
  border-radius: 6px;
  border-color: rgb(44, 44, 44);
  border-width: 1px;
  cursor: pointer;
}

/* button:hover {
  background-color: rgb(165, 165, 165);
  color: white;
} */

.priority-button {
    margin-right: 5px;
    width: 20px;
    border-width: 1px;
    border-radius: 49%;
    padding: 1px;
}

.priority-button:hover {
  background-color: orange;
  font-weight: bolder;
}

.edit-task:hover {
  background-color: lightblue;
  font-weight: bolder;
}
