body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../cats.png);
  background-size: 100%;
}

.App {
  font-family: "arial";
  background-color: rgb(229, 225, 219);
  background-image: radial-gradient(rgb(229, 225, 219), rgb(123, 116, 110));

  margin-right: 30%;
  margin-left: 30%;

  border-style: solid;
  border-radius: 1%;
  border-width: 1px;
  border-color: rgb(91, 91, 91);
}

.header {
  text-align: center;
  border-bottom: 1px solid rgb(91, 91, 91);
  margin-left: 15px;
  margin-right: 15px;

  color: rgb(48, 45, 42);
  text-shadow: 2px 2px rgb(123, 116, 107);
}

.task-form {
  font-size: larger;
  text-align: center;
  margin: 15px 15px;
}

.todo-input {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  padding: 7px 7px;
  font-size: medium;
  font-weight: normal;
}

.delete-priority-buttons {
  text-align: center;
}

.task-buttons {
  margin-left: 15px;
}

.task-name {
  color: rgb(48, 45, 42);

  font-size: larger;
  font-weight: bold;
}

.task-notes {
  margin-left: 10px;
  border: 1px solid rgb(91, 91, 91);

  border-radius: 4px;
  font-size: 16px;
  resize: none;
  font-family: "arial";
}

.deadline {
  text-align: right;
  margin-right: 15px;
}

.deadline-date {
  max-width: 100px;
  border-width: 1px;
}

.deadline-button {
  margin-right: 10px;
}

input,
textarea {
  background-color: rgb(246, 251, 255);
  border-radius: 6px;
  border-width: 1px;
}

.edit-task {
  text-align: left;
  margin-left: 10px;
  margin-bottom: 10px;
}

.remove-task {
  margin-bottom: 10px;
  margin-right: 2.5px;
}

.priority-button {
  margin-left: 2.5px;
}

.remove-task:hover {
  margin-bottom: 10px;
  background-color: rgb(252, 102, 102);
  font-weight: bolder;
}

.todo-row {
  border-top: 1px solid rgb(91, 91, 91);
  margin-left: 15px;
  margin-right: 15px;
}

.todo-row-complete {
  text-decoration: line-through;
  text-decoration-color: rgb(48, 45, 42);

  border-top: 1px solid rgb(91, 91, 91);
  margin-left: 15px;
  margin-right: 15px;
}

.task-name:hover {
  user-select: none;
  cursor: pointer;
}

button {
  background-color: rgb(123, 116, 107);
  color: white;
  padding: 1px 4px;
  border-radius: 5px;
  border: 1px solid rgb(44, 44, 44);
  cursor: pointer;
}

button:hover {
  background-color: rgb(83, 77, 72);
  font-weight: bolder;
}

.priority-button:hover {
  background-color: orange;
  font-weight: bolder;
}

.bottom-buttons {
  text-align: center;
}
