body {
  margin: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.todo-row-complete {
  text-decoration: line-through;
  font-size: larger;
  font-weight: bolder;
}

.todo-row {
  padding: 0px 200px;
  background-color: rgb(250, 215, 247);
  font-size: larger;
  font-weight: bolder;
}

.task-name:hover {
  cursor: pointer;
}

button {
  background-color: rgb(84, 0, 129);
  color: rgb(255, 255, 255);
  padding: 5px 12px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
}

.task {
  font-size: x-small;
}

button:hover {
  background-color: rgb(167, 84, 244);
  color: white;
}
